.mains-container {
    /* text-align: center; */
    width: 100%;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    background-image: url(https://i.ibb.co.com/FWV8bg4/featured.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: #1b1b1de1; */

    /*  this is where the magic happens:  */
    background-attachment: fixed;
}  
